.container{
  min-height: 100vh;
  background: #eee;
  padding:30px
}
.App {
  text-align: center;
}

.button-container{
  margin-top: 20px;
  min-height: 60px ;
  display: flex;
  align-items: flex-end;
}
